@import "tailwindcss";

:root {
  color: #0f172a;
  font-family: "Inter", "SF Pro Display", "Segoe UI", sans-serif;
  font-synthesis: none;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea {
  font: inherit;
}
